.columns.large-6.comment_secondary
  .panel
    .row
      .columns.large-12
        %h3
          %span.second
            = @taiketsu.topics.second.topic
          からのご意見

    - @comments.each_with_index do |comment, i|
      - if i % 2 == 0
        .comment_block.bgc-gray
          .row
            .columns.large-12
              %p
                = comment.text
      - else
        .comment_block.bgc-white
          .row
            .columns.large-12
              %p
                = comment.text
    = form_for [@taiketsu,@comment], html: {id: 'new_comment'} do |f|
      .form
        = f.text_field :text, placeholder: '意見を入力してください', value: "", class:  'textbox'
        = f.hidden_field :topic_id, value: '1'
      .form__submit
        = f.submit value: '投稿する'
