.main__name--bottom
  ご意見募集中のお題
- @accepting_taiketsus.each_slice(3) do |accepting_taiketsus|
  .main__posts
    - accepting_taiketsus.each do |accepting_taiketsu|
      .main__posts--list
        = link_to taiketsu_path(accepting_taiketsu.id), class: "link" do
          .main__posts--list__title
            = accepting_taiketsu.topics.first.topic
          .VS
            VS
          .main__posts--list__title
            = accepting_taiketsu.topics.second.topic
          .main__posts--list__vote
            .main__posts--list__vote--left
              = accepting_taiketsu.topics.first.comments.count
            .main__posts--list__vote--right
              = accepting_taiketsu.topics.second.comments.count

