.main
    .main__name--top
        人気のお題
    .main__posts
        .main__posts--list
            = link_to "https://www.facebook.com/", class: "link" do
                .main__posts--list__title
                    野村さん
                .VS
                    VS
                .main__posts--list__title
                    ラオス
                .main__posts--list__vote
                    28点 / 24点
                /rubyとかで埋め込むつもり
        .main__posts--list
            = link_to "https://www.facebook.com/", class: "link" do
                .main__posts--list__title
                    日本
                .VS
                    VS
                .main__posts--list__title
                    山本さん
                .main__posts--list__vote
                    28点 / 24点
        .main__posts--list
            = link_to "https://www.facebook.com/", class: "link" do
                .main__posts--list__title
                    セネガル
                .VS
                    VS
                .main__posts--list__title
                    鈴木さん
                .main__posts--list__vote
                    28点 / 24点
    .main__posts
        .main__posts--list
            = link_to "https://www.facebook.com/", class: "link" do
                .main__posts--list__title
                    小川さん
                .VS
                    VS
                .main__posts--list__title
                    イタリア
                .main__posts--list__vote
                    28点 / 24点
                /rubyとかで埋め込むつもり
        .main__posts--list
            = link_to "https://www.facebook.com/", class: "link" do
                .main__posts--list__title
                    日本
                .VS
                    VS
                .main__posts--list__title
                    山本さん
                .main__posts--list__vote
                    28点 / 24点
        .main__posts--list
            = link_to "https://www.facebook.com/", class: "link" do
                .main__posts--list__title
                    セネガル
                .VS
                    VS
                .main__posts--list__title
                    鈴木さん
                .main__posts--list__vote
                    28点 / 24点
    .main__posts
        .main__posts--list
            = link_to "https://www.facebook.com/", class: "link" do
                .main__posts--list__title
                    小川さん
                .VS
                    VS
                .main__posts--list__title
                    イタリア
                .main__posts--list__vote
                    28点 / 24点
                /rubyとかで埋め込むつもり
        .main__posts--list
            = link_to "https://www.facebook.com/", class: "link" do
                .main__posts--list__title
                    日本
                .VS
                    VS
                .main__posts--list__title
                    山本さん
                .main__posts--list__vote
                    28点 / 24点
        .main__posts--list
            = link_to "https://www.facebook.com/", class: "link" do
                .main__posts--list__title
                    セネガル
                .VS
                    VS
                .main__posts--list__title
                    鈴木さん
                .main__posts--list__vote
                    28点 / 24点
    .kaminari
        = paginate @taiketsus
    .main__name--bottom
        ご意見募集中のお題
    .main__posts
        .main__posts--list
            = link_to "https://www.facebook.com/", class: "link" do
                .main__posts--list__title
                    大丸さん
                .VS
                    VS
                .main__posts--list__title
                    南アフリカ
                .main__posts--list__vote
                    28点 / 24点
        .main__posts--list
            = link_to "https://www.facebook.com/", class: "link" do
                .main__posts--list__title
                    小川さん
                .VS
                    VS
                .main__posts--list__title
                    山本さん
                .main__posts--list__vote
                    28歳 / 24歳
        .main__posts--list
            = link_to "https://www.facebook.com/", class: "link" do
                .main__posts--list__title
                    小川さん
                .VS
                    VS
                .main__posts--list__title
                    山本さん
                .main__posts--list__vote
                    28歳 / 24歳
    .main__posts
        .main__posts--list
            = link_to "https://www.facebook.com/", class: "link" do
                .main__posts--list__title
                    大丸さん
                .VS
                    VS
                .main__posts--list__title
                    南アフリカ
                .main__posts--list__vote
                    28点 / 24点
        .main__posts--list
            = link_to "https://www.facebook.com/", class: "link" do
                .main__posts--list__title
                    小川さん
                .VS
                    VS
                .main__posts--list__title
                    山本さん
                .main__posts--list__vote
                    28歳 / 24歳
        .main__posts--list
            = link_to "https://www.facebook.com/", class: "link" do
                .main__posts--list__title
                    小川さん
                .VS
                    VS
                .main__posts--list__title
                    山本さん
                .main__posts--list__vote
                    28歳 / 24歳
