.main
  .main__name--top
    人気のお題

    - @hot_taiketsus.each_slice(3) do |hot_taiketsus|
      .main__posts
        - hot_taiketsus.each do |hot_taiketsu|
          .main__posts--list
            = link_to taiketsu_path(hot_taiketsu.id), class: "link" do
              .main__posts--list__title
                = hot_taiketsu.topics.first.topic
              .VS
                VS
              .main__posts--list__title
                = hot_taiketsu.topics.second.topic
              .main__posts--list__vote

  .kaminari
    = paginate @hot_taiketsus
  = render "shared/looking-opinion"
